body {
    font-family: georgia;
}

div.wrapper {
    max-width: 720px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}

h1, span.pagetitle, div.subtitle {
    font-variant: small-caps;
}

span.url {
    font-family: monospace;
}

div.pagedesc, div.fields dl, div.params dl {
    font-size: smaller;
}

div.pagetitle, div.pagedesc {
    margin-bottom: 10px;
}

div.page {
    margin-bottom: 20px;
}

div.page, div.fields, div.params {
    background-color: #CDF;
    border-radius: 10px;
    padding: 10px;
}

div.fields, div.params {
    background-color: #FFF;
    color: #333;
    margin-top: 10px;
}

dt {
    font-weight: bold;
    margin-top: 3px;
}
